@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* GLOBAL STYLING */
:root {
  --main-bg-color: #0E0E0E;
  --secondary-bg-color: #252525;
  --light-gray: #5A5757;
  --main-text-color: #FFFFFF;
  --contrast-color: #FF5B50;
  
  --font-family: 'Montserrat', sans-serif;
  --default-font-size: 1.125rem;
  --xl-font-size: 3.125rem;
  --lg-font-size: 2.5rem;
  --md-font-size: 1.875rem;
  --sm-font-size: 1.25rem;
}

body {
  font-family: var(--font-family);
  color: var(--main-text-color);
  /* order of properties for shorthand for background shorthand: 
    background-color
    background-image
    background-repeat
    background-attachment
    background-position
  */
  background: 
    var(--main-bg-color) 
    url('../assets/images/background-top-section.png') 
    no-repeat 
    fixed 
    top center
  ;
  background-size: cover; 
  font-size: var(--default-font-size);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

section {
  background-color: var(--main-bg-color);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 50px;
}

h1 {
  font-size: var(--xl-font-size);
  line-height: 3.75rem;
}

p {
  line-height: 1.375rem;
}

a[target='_blank'] {
  text-decoration: underline;
  color: var(--contrast-color);
}

a {
  text-decoration: underline;
  color: var(--main-text-color);
}

strong {
  color: var(--contrast-color);
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--contrast-color);
}

/* HEADER */
header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 25px;
}

.logo {
  flex: 1;
}

.logo h1 {
  font-size: var(--lg-font-size);
}

header .nav_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
}

header ul {
  display: flex;
  align-items: center;
}

header li a {
  padding: 2rem;
  text-decoration: none;
  color: var(--main-text-color);
}

header a:hover {
  color: var(--contrast-color);
}

header button {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;

  font-weight: bold;
  font-family: var(--font-family);

  cursor: pointer;
}

#toggle_menu {
  display: none;
  background-color: transparent;
  border: none;
}

header #toggle_menu {
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;

  transition: all .2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

#toggle_menu::after, #toggle_menu::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--contrast-color);

  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#toggle_menu::after {
  top: 0;
  left: 0;
}

#toggle_menu::before {
  bottom: 0;
  width: 50%;
  right: 0;
}

#toggle_menu.active::before {
  width: 100%;
  top: 0;
  transform: rotate(45deg);
}

#toggle_menu.active::after {
  transform: rotate(-45deg);
}


/* SECTION 01 */
.first_section {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.first_section article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  margin-right: 3.25rem;
}

.first_section aside {
  display: flex;
  gap: .5rem;
}

section .selected_artists {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.selected_artists span {
  line-height: 1.25rem;
}
.selected_artists p {
  margin: 0;
  line-height: 1.25rem;
}

@keyframes badge-3d-animation {
  0% {
    transform: perspective(5000px) rotateX(20deg) rotateY(20deg);
  } 

  50% {
    transform: perspective(5000px) rotateX(-30deg) rotateY(-20deg);
  }

  100% {
    transform: perspective(5000px) rotateX(20deg) rotateY(20deg);
  } 
}

.badge {
  width: fit-content;
  height: fit-content;
  
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateX(20deg) rotateY(20deg);
  position: relative;

  animation: badge-3d-animation 5s infinite;
}

.badge::after {
  content: '';
  width: 105%;
  height: 105%;
  border-radius: 50%;
  
  position: absolute;
  inset: -1rem;
  margin: auto;
  
  z-index: -2;
  transform: translateZ(-25px);

  background-color: var(--contrast-color);
}

@keyframes badge-img-rotate {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.badge img {
  animation: badge-img-rotate 15s infinite;
}


/* SECTION 02 - GALLERY */
.gallery {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 1.25rem;
  margin-top: 100px;
}

.gallery img {
  max-width: 280px;
}

/* SECTION 03 */
.third_section {
  margin-top: 40px;
  overflow: hidden;
  border-bottom: var(--light-gray) 1px solid;
}

.third_section article {
  display: flex;
}

.third_section aside {
  display: flex;
  flex-direction: column;

  gap: 70px;
  padding-block: 133px;
  padding-right: 68px;

  border-right: var(--light-gray) 1px solid;
  text-align: center;
}

.third_section span {
  font-weight: 600;
  color: var(--light-gray);
  font-size: var(--span-font-size);
}

.third_section main {
  position: relative;
}

.third_section main article {
  padding-block: 70px;
  padding-left: 68px;
  gap: 126px;
}

.third_section main .content a:not(a[target='_blank']) {
  margin-top: 64px;
  display: block;
}

.overflow_image {
  height: 300px;
}

.third_section main img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 300px;
  overflow: hidden;
}

/* SECTION 04 */

.fourth_section {
  padding-top: 150px;
}

.fourth_section main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 150px;
  position: relative;
}

.fourth_section main::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: var(--light-gray);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.fourth_section .card {
  text-decoration: none;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.fourth_section .card:nth-child(even) {
  grid-column-end: end;
}

.fourth_section .card h3, .fourth_section .card p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fourth_section p {
  font-weight: 600;
  color: var(--light-gray);
}

.fourth_section span {
  color: var(--contrast-color);
  font-weight: 400;
}

.fourth_section .gallery {
  width: 100%;
}

/* SECTION 05 */

.fifth_section {
  padding-block: 150px;
  text-align: center;
}

.fifth_section .best_artists {
  margin-top: 120px;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

.best_artists .artist_card {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 32px;
  padding-block: 25px;
  width: 350px;
  background-color: var(--secondary-bg-color);
  transition: background-color .5s, color .2s, text-shadow .4s;
}

.artist_card p {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.artist_card span {
  color: var(--contrast-color);
}

.artist_card:hover {
  background-color: var(--contrast-color);
  color: var(--main-text-color);
  text-shadow: 0 0 50px black;
}

.artist_card:hover span {
  color: var(--main-text-color);
}

.fifth_section article a {
  text-decoration: none;
  display: flex;
  
  margin-top: 60px;
  margin-inline: auto;
  padding: 1rem 2rem;

  gap: 13px;

  width: fit-content;
}

.fifth_section article a:hover {
  color: var(--contrast-color);
}

/* FOOTER */
footer {
  background-color: var(--secondary-bg-color);
}

footer section {
  background-color: transparent;
}

footer .footer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 60px;
}

.footer_header a {
  width: 5rem;
  height: 5rem;
  background-color: var(--contrast-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.footer_header a:hover {
  transform: rotate(360deg);
  border-radius: 50px;
}

footer .footer_main {
  border-block: var(--light-gray) 1px solid;
  
}
footer main {
  display: flex;
  align-items: center;
}

.footer_main .contact, .footer_main .links {
  padding-block: 70px;
}

.footer_main .contact {
  padding-right: 60px;
}

.footer_main form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_main label {
  font-size: var(--md-font-size);
  line-height: 38px;
  max-width: 350px;
}

.footer_main form .wrapper {
  display: flex;
}

.footer_main form .email_wrapper {
  padding: 20px;
  background-color: var(--main-bg-color);
}

.footer_main input[type='email'] {
  background-color: transparent;
  border: none;
  max-width: 280px;
  font-size: var(--sm-font-size);
  color: var(--main-text-color);
  outline: none;
}

.footer_main form button{
  padding: 1rem 2rem;
  font-family: var(--font-family);
  font-size: var(--sm-font-size);
  font-weight: 700;
}

.footer_main .links {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  border-left: var(--light-gray) 1px solid;
}

.footer_main .links li {
  margin-top: 15px;
}

.footer_main .links a{
  text-decoration: none;
  font-weight: 500;
  color: var(--light-gray);
}

.footer_main .links a:hover {
  color: var(--contrast-color);
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 4rem;
}

.footer_bottom a {
  text-decoration: none;
  color: var(--light-gray);
}
.footer_bottom a:hover {
  color: var(--contrast-color);
}

.footer_bottom .social_media {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 3.125rem;
}

.social_media a {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  

  border: transparent 2px solid;
  border-radius: 50px;
  transition: .3s;
}

.social_media a:hover {
  border: var(--contrast-color) 2px solid;
}

/* RESPONSIVE */
@media screen and (max-width: 500px) {
  :root {
    --default-font-size: 1.125rem;
    --xl-font-size: 2.5rem;
    --lg-font-size: 1.875rem;
    --md-font-size: 1.875rem;
    --sm-font-size: 1.25rem;
  }

  .container {
    padding-inline: 25px;
  }

  /* HEADER */
  .logo h1 {
    line-height: 2rem;
  }

  /* SECTION 01 */

  .first_section {
    text-align: center;
  }

  .first_section article {
    margin: 0;
  }
  .selected_artists {
    text-align: start;
  }


  .third_section main img {
    left: -20rem;
  }

}

@media screen and (max-width: 800px) {

  .fourth_section {
    text-align: center;
  }

  .fourth_section main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fourth_section main a {
    margin: auto;
  }

  .fourth_section main::after {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;

    background-color: var(--main-bg-color);
    transition: all .2s;
    border-bottom: var(--light-gray) 1px solid;
  }

  header .logo {
    z-index: 10;
  }

  header .nav_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    
    position: absolute;
    top: -1000px;
    left: 0;

    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--main-bg-color);

    transition: all .2s;
  }

  .nav_buttons nav ul {
    flex-direction: column;
    gap: 50px;
  }

  .nav_buttons.active{
    top: 0;
  }

  header #toggle_menu {
    display: block;
  }

  .first_section {
    flex-direction: column-reverse;
    gap: 20px;
    padding-top: 50px;
  }

  /* SECTION 3 */
  .third_section article {
    flex-direction: column;
  }

  .third_section aside {
    justify-content: center;
    flex-direction: row;
    gap: 30px;

    padding-inline: 0;
    padding-block: 70px;
    border-right: 0;
  }

  .third_section main article {
    padding: 0;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
  }

  .third_section main .content a:not(a[target='_blank']) {
    margin-top: 32px;
  }

  .third_section main img {
    left: -13rem; 
  }

  .footer_main main{
    flex-direction: column;
  }

  .footer_main .contact {
    padding-right: 0;
    margin: auto;
    width: 100%;
  }

  .footer_main form .wrapper {
    flex-direction: column;
  }

  .footer_main .links {
    width: 100%;
    border-left: none;
    border-top: var(--light-gray) 1px solid;
  }

  .footer_main label {
    max-width: 100%;
    margin: auto;
  }

  .footer_bottom {
    flex-direction: column;
  }

  .footer_bottom .social_media {
    gap: 1rem;
  }
  
}