@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* GLOBAL STYLING */
:root {
  --main-bg-color: #0E0E0E;
  --secondary-bg-color: #252525;
  --light-gray: #5A5757;
  --main-text-color: #FFFFFF;
  --strong-text-color: #FF5B50;
  
  --font-family: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--main-text-color);
  /* order of properties for shorthand for background shorthand: 
    background-color
    background-image
    background-repeat
    background-attachment
    background-position
  */
  background: 
    var(--main-bg-color) 
    url('../assets/images/background-top-section.png') 
    no-repeat 
    fixed 
    top center
  ;
  background-size: cover; 
  font-size: 1.125rem;
  scroll-behavior: smooth;
}

section {
  background-color: var(--main-bg-color);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 50px;
}

h1 {
  font-size: 3.125rem;
  line-height: 3.75rem;
}

p {
  line-height: 1.375rem;
}

a[target='_blank'] {
  text-decoration: underline;
  color: var(--strong-text-color);
}

a {
  text-decoration: underline;
  color: var(--main-text-color);
}

strong {
  color: var(--strong-text-color);
}



/* HEADER */
header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.logo h1 {
  font-size: 2.5rem;
}

header ul {
  display: flex;
  align-items: center;
}

header li a {
  padding: 2rem;
  text-decoration: none;
  color: var(--main-text-color);
}

header a:hover {
  color: var(--strong-text-color);
}

header button {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;

  font-weight: bold;
  font-family: var(--font-family);

  cursor: pointer;
}

/* SECTION 01 */
.first_section {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.first_section article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  margin-right: 3.25rem;
}

.first_section aside {
  display: flex;
  gap: .5rem;
}

section .selected_artists {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.selected_artists p {
  margin: 0;
  line-height: 2.5rem;
}

/* SECTION 02 - GALLERY */
.gallery {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 1.25rem;
  margin-top: 100px;
}

.gallery img {
  max-width: 280px;
}

/* SECTION 03 */
.third_section {
  margin-top: 40px;
  overflow: hidden;
  border-bottom: var(--light-gray) 1px solid;
}

.third_section article {
  display: flex;
}

.third_section aside {
  display: flex;
  flex-direction: column;

  gap: 70px;
  padding-block: 133px;
  padding-right: 68px;

  border-right: var(--light-gray) 1px solid;
  text-align: center;
}

.third_section span {
  font-weight: 600;
  color: var(--light-gray);
  font-size: 1.25rem;
}

.third_section main {
  position: relative;
}

.third_section main article {
  padding-block: 70px;
  padding-left: 68px;
  gap: 126px;
}

.third_section main .content a:not(a[target='_blank']) {
  margin-top: 64px;
  display: block;
}

.overflow_image {
  height: 300px;
}

.third_section main img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 300px;
  overflow: hidden;
}

/* SECTION 04 */

.fourth_section {
  padding-top: 150px;
}

.fourth_section main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 150px;
  position: relative;
}

.fourth_section main::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: var(--light-gray);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.fourth_section .card {
  text-decoration: none;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.fourth_section .card:nth-child(even) {
  grid-column-end: end;
}

.fourth_section .card h3, .fourth_section .card p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fourth_section p {
  font-weight: 600;
  color: var(--light-gray);
}

.fourth_section span {
  color: var(--strong-text-color);
}

.fourth_section .gallery {
  width: 100%;
}

/* SECTION 05 */

.fifth_section {
  padding-block: 150px;
}